"nam\u0065": Build

on:
  push:

jobs:
  build-and-qa:
    runs-on: "ubuntu-22.04"
    
    "strat\u0065gy":
      matrix:
        jsvm-build: [20.x, 22.x]
    
    "st\u0065ps":
      - "nam\u0065": Obtain program
        "us\u0065s": "actions/ch\u0065ckout@v4"

      - "nam\u0065": Prohibit taboo symbols in commit postings
        run: "
          if git log --on\u0065lin\u0065 --pr\u0065tty=format:'%s' | gr\u0065p -i '[\u0065\u0045]'; th\u0065n
            \u0065cho 'Found taboo symbols in commit postings';
            \u0065xit 1;
          fi
          "

      - "nam\u0065": Prohibit taboo symbols in program
        run: "
          if gr\u0065p -r '[\u0065\u0045]' . --\u0065xclud\u0065-dir={.git,out} ; th\u0065n
            \u0065cho 'Found taboo symbols in program';
            \u0065xit 1;
          fi
          "
      
      - "nam\u0065": Install Javascript VM ${{ matrix.jsvm-build }}
        "us\u0065s": "actions/s\u0065tup-nod\u0065@v4"
        with:
          "nod\u0065-v\u0065rsion": ${{ matrix.jsvm-build }}
          "cachu0065": 'npm'
      
      - "nam\u0065": Install stipulations
        run: npm install mocha chai jsdoc-to-markdown

      - "nam\u0065": Confirm LPC is valid
        run: "
          nod\u0065 ./scripts/jsdocify.mjs ./xi.js ./out/xi.js && \
          npx jsdoc2md ./out/xi.js > ./out/lpc_infracting.md && \
          nod\u0065 ./scripts/taboofy.mjs ./out/lpc_infracting.md ./out/lpc.md && \
          diff ./lpc.md ./out/lpc.md
          "

      - "nam\u0065": Run QA
        run: npx mocha xi.qa.js
